{% if classes %}

    {% for obj in classes %}

        {% if obj %}
        <div class="collapse collapse-plus bg-base-200">
            <input type="radio" name="my-accordion-3" {% if forloop.first %} checked="checked" {% endif %} />
            <div class="collapse-title text-xl font-medium">Hai {{obj.count}} prenotazioni alle ore {{obj.eight_set.time}}</div>
            <div class="collapse-content">
                <div class="overflow-x-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome e cognome</th>
                                <th>Cellulare</th>
                                <th>Note</th>
                                <th>azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in obj %}
                                <tr>
                                    <th>{{user.user_info.first_name}} {{user.user_info.last_name}}</th>
                                    <td>{{user.user_info.phone_number}}</td>
                                    <td>{{user.user_info.notes}}</td>
                                    <td><div class="flex flex-row"><img src="{{pen}}" width="24" class="mr-4"><img src="{{bin}}" width='24'></div></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

    {% endfor %}

{% else %}

<p>Non hai prenotazioni per questo giorno!</p>

{% endif %}

