{% load widget_tweaks %}

<div id="day-view" class="grid grid-cols-3 sm:grid-cols-4 gap-5 w-full mt-6 mx-6">

{% for obj in options %}

  <button
    class="btn btn btn-outline btn-success max-w-16"
    onclick="my_modal_2.showModal()"
    hx-post="{% url 'client:show-modal' obj.time %}"
    hx-vals='{"day": "{{day}}"}'
    hx-target="#custom-modal-box"
    hx-trigger="click"
  >
    {{obj.time}}
  </button>

{% endfor %}

</div>

<dialog id="my_modal_2" class="modal">
  <div class="modal-box" id="custom-modal-box"></div>
</dialog>
