{% load widget_tweaks %}

<div>
    <h3 class="text-lg font-bold">Copila i dati:</h3>
    <p class="py-4">La tua prenotazione sarà alle ore {{time}} <br/> del giorno {{day}}/{{month}}/{{year}}.</p>
    <form method="dialog" hx-on::after-request="this.reset()">
    {% render_field user_form.first_name class="input input-bordered w-full max-w-full" placeholder='Nome...'|remove_attr:required|attr:"autofocus" %}
    {% if user_form.first_name.errors %}
        {% for error in user_form.first_name.errors %}
        <div class="label">
            <span class="label-text-alt" style="color: red;">{{ error }}</span>
        </div>
        {% endfor %}
    {% endif %}
    {% render_field user_form.last_name class="input input-bordered w-full max-w-full mt-4" placeholder='Cognome...'%}
    {% if user_form.last_name.errors %}
        {% for error in user_form.last_name.errors %}
        <div class="label">
            <span class="label-text-alt" style="color: red;">{{ error }}</span>
        </div>
        {% endfor %}
    {% endif %}
    {% render_field user_form.phone_number class="input input-bordered w-full max-w-full mt-4" placeholder='321-1234567' %}
    {% if user_form.phone_number.errors %}
        {% for error in user_form.phone_number.errors %}
        <div class="label">
            <span class="label-text-alt" style="color: red;">Inserisci un numero valido di telefono (es. 123 12312345).</span>
        </div>
        {% endfor %}
    {% endif %}
    {% render_field user_form.notes class="input input-bordered w-full max-w-full mt-4" placeholder='Inserisci una nota' %}

    <button class="btn mt-3" >Chiudi</button>
    <!-- hx-on:afterRequest="my_modal_2.close()" -->
    <button
        class="btn btn-primary ml-4"
        hx-post="{% url 'client:show-modal' time %}"
        hx-target="#custom-modal-box"
        hx-swap="innerHtml"
        hx-vals='{"type": "submit", "day": "{{day}}"}'
        hx-on:click="my_modal_2.close()"
    >
        Salva
    </button>
    </form>

</div>


<section id="message-alert" hx-swap-oob='true' hx-swap='innerHtml' hx-trigger="sendAlert from:body">
{% if messages %}

{% for message in messages %}

<div role="alert" class="alert alert-success max-w-md ml-12 mt-6">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current "
        fill="none"
        viewBox="0 0 24 24"
    >
        <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
    </svg>
    <span>{{message}}</span>
</div>

{% endfor %}

{% endif %}
</section>