{% extends "base.html" %}
{% block title %}Appuntamento{% endblock %}

{% block content %}

{% load static %}
{% load static tailwind_tags %}
<link rel="stylesheet" href="../static/css/style.css" />

<section id="message-alert">
</section>

<div class="flex sm:flex-row flex-col py-8">
{{cal|safe|escape}}
  <div class="flex flex-col">
    <div class="flex flex-col items-center justify-start mt-12 sm:mt-4 font-bold" >
      <p class="text-xl">Scegli uno tra i seguenti orari disponibili:</p>
      <div id="timetable">
        <select class="select select-bordered w-full max-w-xs">
          <option disabled selected>----</option>
        </select>
      </div>
    </div>
    <div class="flex flex-auto items-end">
      <img src="{{booking_appoints_url}}" alt="Img" width="400" class="hidden sm:block">
    </div>
  </div>
</div>

<dialog id="my_modal" class="modal">
  <div class="modal-box" id="custom-modal-box"></div>
</dialog>


{% endblock content %}
