{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lema - {% block title %}{% endblock title %}</title>
    {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
      integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>

  </head>

  <body class="bg-white" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


    <section class="py-2 md:py-4">
      <div class="container max-w-screen-xl mx-auto px-4">
        <nav
          class="flex-wrap lg:flex items-center justify-between mb-5 lg:mb-10"
          x-data="{navbarOpen:false}"
        >
          <div class="flex items-center justify-between mb-10 lg:mb-0">
            <img
              src={% static "image/navbar-logo.png" %}
              alt="Logo"
              width="91"
              height="91"
            />
    
            <button
              class="flex items-center justify-center border border-green-500 w-10 h-10 text-green-500 rounded-md outline-none lg:hidden ml-auto"
              @click="navbarOpen = !navbarOpen"
            >
               <img src="{% static 'image/menu-logo.svg' %}" alt="">
            </button>
          </div>
    
          <ul
            class="hidden lg:block lg:flex flex-col lg:flex-row lg:items-center lg:space-x-20"
            :class="{'hidden':!navbarOpen,'flex':navbarOpen}"
          >
            <li
              class="font-medium text-green-500 text-lg hover:text-green-300 transition ease-in-out duration-300 mb-5 lg:mb-0"
            >
              <a href={% url "client:home" %}>Home</a>
            </li>

            {% if request.user.is_authenticated %}
            <li
              class="font-medium text-green-500 text-lg hover:text-green-300 transition ease-in-out duration-300 mb-5 lg:mb-0"
            >
              <a href={% url "accounts:logout-page" %}>Logout</a>
            </li>
            {% endif %}
    
            <li
              class="font-medium text-green-500 text-lg hover:text-green-300 transition ease-in-out duration-300 mb-5 lg:mb-0"
            >
            {% if request.user.is_authenticated %}
              <a href="{% url 'administration:admin-page' %}">Administration</a>
            {% else %}
              <a href="{% url 'accounts:login-page' %}">Login</a>
            {% endif %}
            </li>
    
            <li
              class="px-8 py-3 font-medium text-green-500 text-lg text-center border-2 border-green-500 rounded-md hover:bg-green-500 hover:text-white transition ease-linear duration-300"
            >
              <a href="{% url 'client:gallery' %}">La nostra galleria</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    {% block content %}{% endblock content %}
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
