{% extends "base.html" %}

{% block title %}Galleria{% endblock title %}

{% block content %}
<section class="py-8 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <h1
      class="font-semibold text-gray-700 text-3xl md:text-4xl text-center mb-20"
    >
      Il nostro lavoro
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-10">
      {% for img in tagli %}
      <div class="space-y-2 xl:space-y-4">
        <img
          src="{{img}}"
          alt="Image"
          class="hover:opacity-75 transition ease-in-out duration-300 rounded-md"
        />
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}